@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.contenedor{
    
    /* formato... */
    margin: 10px; /* cantidad de píxeles de margen a todos los  respectivos laterales */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
    /* fondo... 
    background-color: #16171a;
    */
    
    /* letras... */
    color: #c4c4c4;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    
}

.parte_1{
    flex: 1;
    border-right: 2px solid #ccc; /* línea vertical a la derecha */
}

.parte_2{
    flex: 1;
    border-right: none; /* elimina la línea de la última columna */
}

.parte_3{
    flex: 1;
    border-right: none;
    color: rgb(173, 0, 0);
}

.contenedor .ramo{
    /* borde... */
    margin: 16px;

    /* formato... */
    align-items: center; /* centra verticalmente */
    display: flex;
}

.contenedor .ramo_impar{
    /* borde... */
    margin: 16px;

    /* formato... */
    align-items: center;
    display: flex;
}

.cabecera{
    /* letras... */
    border-right: 2px solid #ccc; /* creo un cursor con borde derecho */
    white-space: nowrap; /* evito que el texto se ajuste a una nueva línea */
    overflow: hidden; /* escondo el texto que aún no ha sido "escrito" */

    color: #c4c4c4;
    font-size: 225px;
    font-weight: bolder;
    text-align: center;

    height: 325px;
    
}

.cursor {
    display: inline-block;
    color: #c4c4c4;
}

.blink {
    animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
    from, to { opacity: 1; }
    50% { opacity: 0; }
}

.linea{
    width: 80%;
    height: 2px;
    margin: 25px auto;
}

html, body {
    font-family: 'JetBrains Mono', monospace;
    margin: 0; /* Elimina márgenes por defecto */
    background-color: #111213; /* Color de fondo */
    color: #383838;
    user-select: none;
}